DB_MONGODB_URL=
DB_MONGODB_DB_NAME= 
OPENAI_KEY= 
GEMINI_KEY=
QDRANT_URL = 
QDRANT_API_KEY = 
APP_BACKEND_URL =
SLACK_BOT_TOKEN = 
SLACK_SIGNING_SECRET = 
JIRA_URL = 
JIRA_CONFLUENCE_URL =
CONFLUENCE_USER = 
CONFLUENCE_TOKEN =